*{
  padding: 0px;
  margin: 0px;
}
#navbar{
  height:60px;
  background-color: #0f1111;
  margin-bottom: 200px;
  color:white;
}
#logo{
  color:gold;
  margin-right: 200px;
  text-decoration: none;
  font-size:25px;
}
#Account{
  color:white;
  margin-right: 200px;
  text-decoration: none;
}
a{
   margin-right: 200px;
}
