body{
  background-color: lightblue;
  background-image: url(featured_channel.jpg);
  background-repeat: no-repeat;
   background-position: center;
  background-attachment:fixed;
}
 [id="101"] {
  color:#f00000;
}
#box{
  color:blue;
}
.new_class{ 
  color: red;
}
button{
  background-color:green;
}
p{
  text-align: center;
}
h1{font-family:cursive;
   word-wrap: ;
   font-size: 100px;
  text-align: center;
  text-decoration: red dotted underline;
  padding: 0;
  border: 0;
  margin: 0;
  text-transform:uppercase;
}